

body {
  background: #0e100f;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  color: #efebd4;
  font-size: 14px;
}

.leftText {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.iconContainer {
  display: flex;
  align-items: center;
  border: 1px solid #4e4e4e;
  border-radius: 9999px;
  padding: 1px 4px;
  gap: 6px;
  margin-left: 5.5rem;
}

/* Basic button style */
.iconButton {
  width: 37px;
  height: 37px;
  background-color: #efebd4; 
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}


.iconButton:hover {
  transform: translateY(-4px);            
  background-color: #d6d1b4;             
  box-shadow: 0 0 0 2px #4e4e4e;        
}


.icon {
  width: 23px;
  height: 20px;
  transition: transform 0.3s ease;
}

.rightText {
  display: flex;
  align-items: center;
  gap: 8px;
  border: #4e4e4e solid 1px;
  border-radius: 999px;
  padding: 3px 6px 3px 3px;
}

.emailText {
  color: #efebd4;
  font-size: 14px;
}


.instagram {
  width: 25px;
  height: 27px;
}

.leetcode {
  width: 23px;
  height: 25px;
}

.github {
  width: 25px;
  height: 26px;
}

.discord {
  width: 22px;
  height: 19px;
}

.linkedin {
  width: 20px;
  height: 21px;
}

.Telegram {
  width: 26px;
  height: 25px;
}

.gmail {
  width: 21px;
  height: 19px;
}
